body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff8dc;
  color: #15131a;
}

header {
  align-items: center;
  margin-bottom: 20px;
  padding-top: 20px;
  position: relative;
}

.logo {
  max-width: 150px;
  height: auto;
  margin-top: 20px;
}

main {
  text-align: center; /* Optional: keeps text aligned in the center */
  flex: 1;
  display: flex;
  flex-direction: column; /* Keep the elements in a vertical column */
  align-items: center; /* Aligns the items to the start (left by default) */
  justify-content: flex-start; /* Stacks items from the top down */
}


h1 {
  font-family: "ff-providence-sans-web-pro", sans-serif;font-weight: 400;font-style: normal;
  font-size: 32px;
  margin-bottom: 11px;
}

h1 > strong {
  font-weight: 700;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.first-text {
  color: #565463;
  margin: 0 20px;
  background-color: #ffffff;
  padding: 5px 25px;
  border-radius: 25px;
}

.peixes {
  width: 100vw; /* Full viewport width */
  height: 500px; /* Adjust height to make it responsive */
  background-image: linear-gradient(to top, rgba(255, 248, 220, 1) 0%, rgba(255, 248, 220, 0) 70%),
        url("https://raw.githubusercontent.com/lupiego/lupiego.github.io/main/img/peixes.svg");
  background-size: cover; /* Maintain proportions and cover the container */
  background-repeat: repeat-x; /* Repeat the background horizontally */
  position: relative; /* Positioning context for the animation container */
  animation: slidein 120s linear infinite; /* Smooth sliding animation */
}

@keyframes slidein {
  from {
    background-position-x: -4000px; /* Start from the right */
  }
  to {
    background-position-x: 4000px; /* Move the background to the left smoothly */
  }
}

.animation-container {
  width: 100%;
  max-width: 600px; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
  margin: 0 auto;
  position: absolute; /* Positioned relative to the .peixes container */
  left: 50%; /* Centers horizontally */
  bottom: 0; /* Sticks to the bottom */
  transform: translateX(-50%); /* Centers horizontally */
}

.social-links {
  margin-top: 50px;
  margin-bottom: 20px;
}

.social-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #565463; /* This will be overridden by icon color */
  font-size: 24px; /* Increase size if needed */
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #a09fa8; /* Using one of your accent colors */
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: #a09fa8;
  background-color: #fff8dc;
}

@media (max-width: 768px) {
  .logo {
    max-width: 150px;
    padding-top: 20px;
  }

    .peixes {
    height: 400px;
    }

  .animation-container {
    width: 90%;
    height: 250px;
  }

  .social-links a {
    font-size: 42px;
  }
}

@media (min-width: 1700px) {
  .peixes {
    height: 600px;
    background-size: contain;
  }
}
